Student5-idpbootcamp/force-app/main/default/flows/Movie_GettingAvab_Chars.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Compare_Multi_Select_Picklists</name>
        <label>Compare Multi-Select Picklists</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <actionName>MultiSelectorCompr</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SimilarOr</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>picklist1</name>
            <value>
                <elementReference>varPicklist1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>picklist2</name>
            <value>
                <elementReference>varPicklist2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectorCompr</nameSegment>
        <outputParameters>
            <assignToReference>SimilarOrNot</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>addFullNameCols</name>
        <label>addFullNameCols</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>colActors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopingThroughActors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopingThroughActors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Picklist_movie</name>
        <label>Picklist_movie</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varPicklist2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMovie.Script__r.Skills__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Multi_Select_Picklists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Picklist_user</name>
        <label>Picklist_user</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varPicklist1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopingThroughActors.Skills__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Picklist_movie</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SimilarOr</name>
        <label>SimilarOr?</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>loopingThroughActors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSimilarities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SimilarOrNot</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFullNameCols</targetReference>
            </connector>
            <label>IsSimilarities</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Movie_GettingAvab_Chars {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movie_GettingAvab_Chars</label>
    <loops>
        <name>loopingThroughActors</name>
        <label>loopingThroughActors</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>GetAvabActors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Picklist_user</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAvabActors</name>
        <label>GetAvabActors</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopingThroughActors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available_From__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>AvailableFrom</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAvabActors</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AvailableFrom</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colActors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SimilarOrNot</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMovie</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Movie__c</objectType>
    </variables>
    <variables>
        <name>varPicklist1</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPicklist2</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
