Student5-idpbootcamp/force-app/main/default/flows/Movie_Cast_Finalization.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignCharName</name>
        <label>AssignCharName</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCharacterName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Character_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignDataToCast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDataToCast</name>
        <label>AssignDataToCast</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varCastRecord.Actor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachAct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCastRecord.Movie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMovieId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCastRecord.Price_Per_Hour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachAct.Price_Per_Hour__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCastRecord.Character__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCharacterName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataToArray</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DataToArray</name>
        <label>DataToArray</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varArrOfCast</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCastRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEachAct</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Movie_Cast_Finalization {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movie_Cast_Finalization</label>
    <loops>
        <name>ForEachAct</name>
        <label>ForEachAct</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>varGetAllActor</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ShowActorId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BulkInsert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>BulkInsert</name>
        <label>BulkInsert</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputReference>varArrOfCast</inputReference>
    </recordCreates>
    <screens>
        <name>ShowActorId</name>
        <label>ShowActorId</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignCharName</targetReference>
        </connector>
        <fields>
            <name>EnterNicknameforActor</name>
            <fieldText>&lt;p&gt;Enter Nickname for Actor {!ForEachAct.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Character_Name</name>
            <dataType>String</dataType>
            <fieldText>Input Character Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ForEachAct</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varArrOfCast</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>varCastRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>varCharacterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGetAllActor</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varMovieId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
