Student5-idpbootcamp/force-app/main/default/flows/MovieScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>StringParser</name>
        <label>StringParser</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <actionName>StringParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetAllActorObjects</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varStoreNames</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StringParser</nameSegment>
        <outputParameters>
            <assignToReference>varStoreIds</assignToReference>
            <name>textCollection</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignCheckBoxValues</name>
        <label>AssignCheckBoxValues</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varStoreNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Checkbox_Actors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StringParser</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceOfActors</name>
        <choiceText>{!colContact}</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>CheckingCastCount</name>
        <label>CheckingCastCount</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_more_actors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MovieCastGreatenEqActor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCastCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varMovieRecord.Script__r.Number_of_Actors__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Available_From</targetReference>
            </connector>
            <label>MovieCastGreatenEqActor</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CCSAPI</name>
        <collectionReference>colActors</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Chosen_Actor</name>
        <collectionReference>colActors</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Chosen_Actors</name>
        <collectionReference>colActors</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Collection_Of_Actors</name>
        <collectionReference>colActors</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>MovieScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Available Actors</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAllActorObjects</name>
        <label>GetAllActorObjects</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MovieFinalization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varStoreIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Available_From</name>
        <label>Available From</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GettingAvab_Chars</targetReference>
        </connector>
        <fields>
            <name>AvailableFrom</name>
            <dataType>Date</dataType>
            <fieldText>Available From</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SucMSG</name>
            <fieldText>&lt;p&gt;Actors were added to movie cast&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_more_actors</name>
        <label>No more actors</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GettingAvab_Chars</targetReference>
        </connector>
        <fields>
            <name>NoNeedAnyActions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: medium; color: rgb(0, 0, 0);&quot;&gt;&quot;No more actors needed. Press Next button to add additional backup actors&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Available_Actors</name>
        <label>Select_Available_Actors</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignCheckBoxValues</targetReference>
        </connector>
        <fields>
            <name>Checkbox_Actors</name>
            <choiceReferences>Collection_Of_Actors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Checkbox_Actor</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init_Movie_Cast</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GettingAvab_Chars</name>
        <label>GettingAvab_Chars</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Select_Available_Actors</targetReference>
        </connector>
        <flowName>Movie_GettingAvab_Chars</flowName>
        <inputAssignments>
            <name>AvailableFrom</name>
            <value>
                <elementReference>AvailableFrom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMovie</name>
            <value>
                <elementReference>varMovieRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>colActors</assignToReference>
            <name>colActors</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Init_Movie_Cast</name>
        <label>Init_Movie_Cast</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>CheckingCastCount</targetReference>
        </connector>
        <flowName>Initial_Movie_Cast_Subflow</flowName>
        <inputAssignments>
            <name>varMovieId</name>
            <value>
                <elementReference>varMovieId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCastCount</assignToReference>
            <name>varCastCountSub</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMovieRecord</assignToReference>
            <name>varCurMovieRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MovieFinalization</name>
        <label>MovieFinalization</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <flowName>Movie_Cast_Finalization</flowName>
        <inputAssignments>
            <name>varGetAllActor</name>
            <value>
                <elementReference>GetAllActorObjects</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMovieId</name>
            <value>
                <elementReference>varMovieId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colActors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>colContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>MovieCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Movie__c</objectType>
    </variables>
    <variables>
        <name>NumberOfIter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varArrayOfCast</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>varCastCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Array of Cast Records</description>
        <name>varCastRecArray</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>varCharacterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current Actor in loop</description>
        <name>varCurActor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMovieId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMovieRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movie__c</objectType>
    </variables>
    <variables>
        <name>varSingleCastRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>varStoreIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStoreNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
